<div id="header">
    <div class="width1024">
        <ul >
            <li class="logoNequi" ng-click="vm.menu(0)">
                <img alt="" ng-src="{{vm.pathname}}img/home_logo.svg">
            </li>
            <li ng-click="vm.menu(0)" class="activeMenu" id="inicio">
                <div class="iconMenu"></div>
                <p>About</p> 
            </li>
            <li  ng-click="vm.menu(1)" id="como">
                <div class="iconMenu"></div>
                <p>Game dev</p>
            </li>
            <li ng-click="vm.menu(2)" id="premios">
                <div class="iconMenu"></div>
                <p>Illustrations</p>
            </li>
        </ul>
        
    </div>
    
</div>