 #footer{
		position:fixed;
		display:block;
		width: 100%;
		z-index:9;
		text-align:center;
        bottom:0px;
        padding: 28px 0;
        .logoNequi{
            max-width: 161px;
    position: relative;
    left: -32px;
        }
        .navMenu{
            display: none;
        }
        .logoNequiMobile{
            display: none;
        }
      
  

       

 }
  