
section.topNequi {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.headerCont {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -4%;
    top: 32%;
    text-align: center;
    .imageTop {
        width: 100%;
        max-width: 330px;
        display: block;
        margin: 0 auto;
    }
    .txtTop {
        position: absolute;
        bottom: 0;
        left: 26%;
    }
}


.centerField {
    &>img.bkgSoccerField {
        display: block;
        width: 95%;
        max-width: 460px;
        width: 95%;
        margin: 0 auto;
        opacity: 0.5;
    }
    position: relative;
    max-width: 460px;
    width: 95%;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    .suplentesCont {
        position: absolute;
        top: 0;
        right: -260px;
        height: 100%;
        width: 260px;
        padding: 5px 30px;
        text-align: left;
        -webkit-transition: right 0.5s;
        transition: right 0.5s;
        z-index: 100;
    }
}

.itemTop {
    max-width: 250px;
    position: absolute;
}


.iImage {
    background: url('../img/top/icono_jugador.png') no-repeat center;
    background-size: contain; 
    width: 50px;
    height: 50px;
    margin: 5px auto;
    display: inline-block;
    position: relative;
    box-shadow: 0px 2px 12px -1px #FF2F73;
    border-radius: 40px;
    z-index: 1;
    .iNumTop {
        background: #FF2F73;
        width: 16px;
        height: 16px;
        border-radius: 60px;
        position: absolute;
        top: -2px;
        left: 0;    
        font-size: 11px;
    }
}

.iName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #210049;
    max-width: 105px;
}

.iPoints {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    // color: #FF2F73;
    color: white;
}

.itemSuplentes {
    max-width: 250px;
    margin: 27px 0px 20px 15px;
    position: relative;
    .iImage {
        width: 35px;
        height: 35px;
    }
    &:after {
        content: "";
        position: absolute;
        top: -11px;
        left: -15px;
        width: 64px;
        height: 67px;
        background: url('../img/top/banca.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.inlineB {
    display: inline-block;
    margin: 8px 0px 8px 25px;
    top: -7px;
    position: relative;
}

.linkSuplentes {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 18px;
    text-decoration: underline;
    color: #00DDEC;
    cursor: pointer;
    height: 100%;
}
.backgrondGame  .ajusteCargador{
        position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

.titleSuplentes {
    margin: 6px 0 50px;
}

.centerField .suplentesCont.contentShow {
    right: 0;
}

.backSuplentesCont {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    z-index: 3;
}

.backShow {
    display: block;
}

.backBtn {
    position: absolute;
    background: url('../img/top/back.png') no-repeat center;
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 15%;
    top: -140px;
    margin: 0px 19px;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
    &:after {
        content: "";
        border: 1px solid white;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        top: -9px;
        left: -9px;
        position: absolute;
    }
}

.btnCloseSuplentes {
    position: absolute;
    top: 31px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: none;
    &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 17px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        background: #210049;
        top: 6px;
        right: 14px;
    }
    &:before {
        content: "";
        position: absolute;
        width: 2px;
        height: 17px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        background: #210049;
        top: 6px;
        right: 14px;
    }
}


// Position of the players on the ranking field
.positionPlayer0 {
    .iImage {
        background: url('../img/top/icono_ganador.png') no-repeat center;
        background-size: contain; 
    }
    right:40%; 
    top:0%;
}
.positionPlayer1 {
    right:70%; 
    top:4%;
}
.positionPlayer2 {
    right:10%; 
    top:4%;
}
.positionPlayer3 {
    right:70%; 
    top:23%;
}
.positionPlayer4 {
    right:40%; 
    top:23%;
}
.positionPlayer5 {
    right:10%; 
    top:23%;
}
.positionPlayer6 {
    right:70%; 
    top:45%;
}
.positionPlayer7 {
    right:10%; 
    top:45%;
}
.positionPlayer8 {
    right:55%; 
    top:63%;
}
.positionPlayer9 {
    right:22%; 
    top:63%;
}
.positionPlayer10 {
    right:40%; 
    top:82%;
}


#animacionTop svg g g:nth-child(1) > g > path {
    fill: transparent;
}

