<div ng-controller="section1Controller as vm">
    <div class="width1024">
        <div class="row">
            <div class="col-md-11  col-md-offset-2 col-sm-12">
                <div class="sliderSection2">
                    <!-- slide 1-->
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-md-push-6 col-sm-12">
                                <div class="clearFive "></div>
                                <div class="clearFive "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="widthAnimaciones" id="animacion1"></div>
                                <!--<img alt="" class="imgMobile" ng-src="{{vm.pathname}}img/internas/icono_paso_1.png">-->
                            </div>
                            <div class="col-md-6 col-md-pull-4  col-sm-12 textLeft">
                                <div class="clearFive hidden-sm hidden-xs"></div>
                                <div class="clearFive "></div>
                                <div class="textHome after2">
                                    <p class="fontAvenirNextLTProBold fontSize40 lineHeight50">
                                        Descarga Nequi
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <p class="fontLato fontSize16 lineHeight24 cPink2">
                                    Y abre una cuenta
                                    <span class="cBlanco">¡solo con tu número de celular!</span>


                                </p>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <div class="row linksApp">

                                    <div class="col-md-4 col-xs-6 textLeft">
                                        <a class="gtmRusiaHomeDescNeqPlaySto" href="https://play.google.com/store/apps/details?id=com.nequi.MobileApp&hl=es">
                                            <img alt="" ng-src="{{vm.pathname}}img/internas/icono_playstore.svg">
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-6 textLeft">
                                        <a class="gtmRusiaHomeDescNeqAppSto" href="https://itunes.apple.com/co/app/nequi-colombia/id1075378688?mt=8">
                                            <img alt="" ng-src="{{vm.pathname}}img/internas/icono_appstore.svg">
                                        </a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <button class="btnTrasparentBlanck" ng-click="vm.clickNext()">
                                    <p class="fontAvenirNextLTProBold fontSize18 ">siguiente</p>
                                </button>
                            </div>

                        </div>
                    </div>
                    <!-- slide 2-->
                    <div>
                        <div class="row">
                            <div class="col-md-5 col-md-push-5 col-sm-12">
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive  "></div>
                                <div class="widthAnimaciones" id="animacion2"></div>
                            </div>

                            <div class="col-md-5  col-md-pull-5 col-sm-12 textLeft">
                                <div class="clearFive hidden-sm hidden-xs"></div>
                                
                                <div class="textHome after2">
                                    <p class="fontAvenirNextLTProBold fontSize40 lineHeight50">
                                        Maneja tu plata desde Nequi
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <p class="fontLato fontSize16 lineHeight24 cPink2">Cada que hagas cada una de estas acciones desde Nequi <span class="cBlanco">¡sumas 1 punto!</span></p>
                                <div class="clear"></div>
                                <ul class="listRotado">
                                    <li>
                                        <p class="fontLato fontSize14 lineHeight24 cPink2">
                                            Paga en establecimientos
                                        </p>
                                    </li>
                                    <li>
                                        <p class="fontLato fontSize14 lineHeight24 cPink2">
                                            Envíale plata a algún contacto de tu cel a nivel nacional
                                        </p>
                                    </li>
                                    <li>
                                        <p class="fontLato fontSize14 lineHeight24 cPink2">
                                            Recarga tu cel, Panapass, Metro, Metrobus
                                        </p>
                                    </li>
                                    <li>
                                        <p class="fontLato fontSize14 lineHeight24 cPink2">
                                            Paga la luz
                                        </p>
                                    </li>
                                </ul>


                                <div class="clear"></div>
                                <div class="clear"></div>
                                <div class="btnTrasparentBlanck" ng-click="vm.clickNext()">
                                    <p class="fontAvenirNextLTProBold fontSize18 ">siguiente</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- slide 3-->
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-md-push-6 col-sm-12">
                                <div class="clearFive "></div>
                                <div class="clearFive "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="widthAnimaciones" id="animacion3"></div>
                                <!--<img alt="" class="imgPaso3 imgMobile" ng-src="{{vm.pathname}}img/internas/icono_paso_3.png">-->
                            </div>
                            <div class="col-md-6 col-md-pull-4  col-sm-12 textLeft">
                                <div class="clearFive hidden-sm hidden-xs"></div>
                                <div class="clearFive "></div>
                                <div class="textHome after2">
                                    <p class="fontAvenirNextLTProBold fontSize40 lineHeight50">
                                        Y suma puntos para entrar al Top 11
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <p class="fontLato fontSize16 lineHeight24 cPink2">
                                    Cada que usas tu App =
                                    <span class="cBlanco">Sumas 1 punto</span>
                                </p>
                                <div class="clear"></div>
                                <p class="fontLato fontSize16 lineHeight24 cPink2">
                                    <span class="cBlanco">¡¡Ten en cuenta!!!</span> <br> Sumas puntos desde el 22 de enero hasta el 19 de abril…
                                </p>

                                <div class="clear"></div>
                                <div class="clear"></div>
                                <div class="btnTrasparentBlanck" ng-click="vm.clickNext()">
                                    <p class="fontAvenirNextLTProBold fontSize18 ">siguiente</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- slide 4-->
                    <div>
                        <div class="row">
                            <div class="col-md-4 col-md-push-6 col-sm-12">
                                <div class="clearFive "></div>
                                <div class="clearFive "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <div class="clearFive hidden-lg hidden-md "></div>
                                <!--<img alt="" class="imgMobile" ng-src="{{vm.pathname}}img/internas/icono_paso_4.png">-->
                                <div class="widthAnimaciones" id="animacion4"></div>
                            </div>
                            <div class="col-md-6 col-md-pull-4 col-sm-12 textLeft">
                                <div class="clearFive hidden-sm hidden-xs"></div>
                                <div class="clearFive "></div>
                                <div class="textHome after2">
                                    <p class="fontAvenirNextLTProBold fontSize40 lineHeight50">
                                        ¿Quién es el goleador?
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <p class="fontLato fontSize16 lineHeight24 cPink2">
                                     Ganan los 2 primeros jugadores Nequi que ocupen el puesto
                                    <span class="cBlanco">#1 y #2 del Top 11</span>
                                </p>

                                <div class="clear"></div>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>